.mg-section {
  display: flex;
  flex-direction: column;

  #particles-js {
    color: #FFF;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to top, #1a222c, #181c24, #16171c, #111114, #0a0a0a);

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      .buttons {
        display: flex;
        justify-content: center;
      }

      @media (min-width: 1000px) {
        h1 {
          font-size: 6rem;
        }
  
        h5 {
          font-weight: 300;
        }
      }
    }
  }
}
